
body {
    font-family: Arial, sans-serif;
    background-image: url('../Images/index.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    display: flex;
    justify-content: space-around;
    
  }
  
  .login-form {
    background-color: #96daf5;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h2 {
    margin-bottom: 10px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
  }
  .btn.primary1{
    
    background-color: #007bff;
    color: #fff;
    margin:0px;
    margin-left: 70%;
  }
  
  .btn.primary {
    background-color: #007bff;
    color: #fff;
    margin: 0px;
  }
  
  .btn.secondary {
    background-color: #6c757d;
    color: #fff;
    margin:0px;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  